<h2 id="title">Welcome to Ember</h2>

<p>This page shows the import of Roboto Fontface</p>
<p>The CSS has been added to  dist/assets/vendor.css</p>
<p>The Fonts have been added to dist/fonts/roboto/</p>

{{outlet}}